In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
name='train'
df = pd.read_csv(f"../data/{name}.csv")
output_name = f'clean_{name}.csv'

### lowercase columns

In [11]:
# Lowercase columns
df.columns = df.columns.str.lower().str.replace(' ', '_')

### Fill missing values

In [12]:
df.isna().sum()

passengerid      0
pclass           0
name             0
sex              0
age             86
sibsp            0
parch            0
ticket           0
fare             1
cabin          327
embarked         0
dtype: int64

In [13]:
df['cabin'] = df['cabin'].fillna('unknown')
df['embarked'] = df['embarked'].fillna('unknown')
df['age'] = df['age'].fillna(df['age'].mean())

### Add and delete columns

In [14]:
if name != 'test':
    del df['passengerid']
df['cabin_deck'] = df['cabin'].str[0]
df['solo'] = ((df['sibsp'] == 0) & (df['parch'] == 0)).astype(int)

pclass_values = {
    1: 'upper',
    2: 'middle',
    3: 'lower'
}
df['pclass'] = df.pclass.map(pclass_values)

### lowercase values

In [15]:
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [16]:
df.to_csv(f"../data/{output_name}", index=False)