In [76]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [77]:
df = pd.read_csv("../data/train.csv")
output_name = 'clean_train.csv'

### lowercase columns

In [78]:
# Lowercase columns
df.columns = df.columns.str.lower().str.replace(' ', '_')

### Fill missing values

In [79]:
df.isna().sum()

passengerid      0
survived         0
pclass           0
name             0
sex              0
age            177
sibsp            0
parch            0
ticket           0
fare             0
cabin          687
embarked         2
dtype: int64

In [80]:
df['cabin'] = df['cabin'].fillna('unknown')
df['embarked'] = df['embarked'].fillna('unknown')
df['age'] = df['age'].fillna(df['age'].mean())

### Add and delete columns

In [81]:
del df['passengerid']
df['child'] = (df['age'] < 13).astype(int)
df['cabin_deck'] = df['cabin'].str[0]
df['solo'] = ((df['sibsp'] == 0) & (df['parch'] == 0)).astype(int)

pclass_values = {
    1: 'upper',
    2: 'middle',
    3: 'lower'
}
df['pclass'] = df.pclass.map(pclass_values)

### lowercase values

In [82]:
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [83]:
df.to_csv(f"../data/{output_name}", index=False)